@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
@import "@core/scss/base/bootstrap-extended/include"; // Bootstrap includes
@import "@core/scss/base/pages/page-auth.scss";
@import "@core/scss/angular/libs/toastr.component.scss";
@import "@core/scss/angular/libs/datatables.component.scss";
@import "@core/scss/base/pages/app-user.scss";
@import "@core/scss/angular/libs/select.component.scss";

input{
    width: 100% !important;
}