<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div>
    <div class="modal-dialog modal-lg">
      <form
        class="add-new-user modal-content pt-0"
        (ngSubmit)="(newUserForm.form.valid)"
        #newUserForm="ngForm"
      >
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New Campaign</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="user-plan"
              >Campaign Name<span
                *ngIf="newUserForm.submitted && TitleRef.invalid"
                class="text-danger"
                >*</span
              >
              <span *ngIf="!newUserForm.submitted || !TitleRef.invalid"
                >*</span
              ></label
            >
            <input
              type="text"
              id="basic-icon-default-title"
              class="form-control dt-title"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-title"
              name="title"
              [(ngModel)]="campaign_title"
              [class.error]="newUserForm.submitted && TitleRef.invalid"
              #TitleRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && TitleRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="TitleRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label"
              >Select Company<span
                *ngIf="newUserForm.submitted && CompanyRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !CompanyRef.invalid"
                >*</span
              ></label
            >
            <select
              id="basic-icon-default-company"
              class="form-control dt-company"
              aria-label=""
              aria-describedby="basic-icon-default-company"
              name="company"
              [class.error]="newUserForm.submitted && CompanyRef.invalid"
              #CompanyRef="ngModel"
              required
              [(ngModel)]="company_id"
              [ngModelOptions]="{ standalone: true }"
            >
              <option *ngFor="let company of companyData" [value]="company.id">
                {{ company.company_name }}
              </option>
            </select>
            <span
              *ngIf="newUserForm.submitted && CompanyRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="CompanyRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan"
              >Start Date<span
                *ngIf="newUserForm.submitted && SDateRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !SDateRef.invalid"
                >*</span
              ></label
            >
            <input
              type="date"
              id="basic-icon-default-start-date"
              class="form-control dt-start-date"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-start-date"
              name="start-date"
              [(ngModel)]="start_date"
              [class.error]="newUserForm.submitted && SDateRef.invalid"
              #SDateRef="ngModel"
              (ngModelChange)="validateDates()"
              required
            />
            <span
              *ngIf="newUserForm.submitted && SDateRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="SDateRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan"
              >End Date<span
                *ngIf="newUserForm.submitted && EDateRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !EDateRef.invalid"
                >*</span
              ></label
            >
            <input
              type="date"
              id="basic-icon-default-end-date"
              class="form-control dt-end-date"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-end-date"
              name="end-date"
              [(ngModel)]="end_date"
              [class.error]="newUserForm.submitted && EDateRef.invalid"
              #EDateRef="ngModel"
              (ngModelChange)="validateDates()"
              required
            />
            <span
              *ngIf="newUserForm.submitted && EDateRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="EDateRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan">Tag</label>
            <input
              type="text"
              id="basic-icon-default-tag"
              class="form-control dt-tag"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-tag"
              name="tag"
              [(ngModel)]="campaign_tag"
              (ngModelChange)="validateTag()"
              #TagRef="ngModel"
              pattern="^[a-zA-Z0-9_]*$"
            />
            <small class="text-danger" *ngIf="isInvalidTag">
              Only letters, numbers, and underscores (_) are allowed.
            </small>
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan"
              >Terms and Conditions<span
                *ngIf="newUserForm.submitted && TandCRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !TandCRef.invalid"
                >*</span
              ></label
            >
            <input
              type="text"
              id="basic-icon-default-termsandconditions"
              class="form-control dt-termsandconditions"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-termsandconditions"
              name="termsandconditions"
              [(ngModel)]="terms_and_conditions"
              [class.error]="newUserForm.submitted && TandCRef.invalid"
              #TandCRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && TandCRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="TandCRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-author"
              >Select the campaign image</label
            >
            <input
              type="file"
              class="form-control dt-author"
              id="basic-icon-default-author"
              placeholder=""
              name="author"
              [(ngModel)]="imageval"
              (change)="uploadImage($event, 'campaign')"
            />
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-author"
              >Select the login image</label
            >
            <input
              type="file"
              class="form-control dt-author"
              id="basic-icon-default-author"
              placeholder=""
              name="author"
              [(ngModel)]="imageval"
              (change)="uploadImage($event, 'login')"
            />
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan">Login Text</label>
            <textarea
              type="text"
              id="basic-icon-default-logtext"
              class="form-control dt-logtext"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-logtext"
              name="logtext"
              [(ngModel)]="login_text"
            ></textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-author"
              >Select the logo image</label
            >
            <input
              type="file"
              class="form-control dt-author"
              id="basic-icon-default-author"
              placeholder=""
              name="author"
              [(ngModel)]="imageval"
              (change)="uploadImage($event, 'logo')"
            />
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan">Welcome Text</label>
            <textarea
              type="text"
              id="basic-icon-default-welcometext"
              class="form-control dt-welcometext"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-welcometext"
              name="welcometext"
              [(ngModel)]="welcome_text"
            ></textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-author"
              >Select the welcome image</label
            >
            <input
              type="file"
              class="form-control dt-author"
              id="basic-icon-default-author"
              placeholder=""
              name="author"
              [(ngModel)]="imageval"
              (change)="uploadImage($event, 'welcome')"
            />
          </div>

          <div class="form-group">
            <label class="form-label"
              >Select Event Type<span
                *ngIf="newUserForm.submitted && EventTypeRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !EventTypeRef.invalid"
                >*</span
              ></label
            >
            <select
              id="basic-icon-default-event-type"
              class="form-control dt-event-type"
              aria-label=""
              aria-describedby="basic-icon-default-event-type"
              name="event-type"
              [class.error]="newUserForm.submitted && EventTypeRef.invalid"
              #EventTypeRef="ngModel"
              required
              [(ngModel)]="event_id"
              [ngModelOptions]="{ standalone: true }"
            >
              <option *ngFor="let event of eventsData" [value]="event.id">
                {{ event.title }}
              </option>
            </select>
            <span
              *ngIf="newUserForm.submitted && EventTypeRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="EventTypeRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group" *ngIf="event_id == 1">
            <div class="card-body">
              <form action="#" class="invoice-repeater">
                <div *ngFor="let item of games; let i = index" @heightIn>
                  <div class="row d-flex align-items-end">
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="name{{ i }}">Game Name*</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="item.name"
                          name="name{{ i }}"
                          id="name{{ i }}"
                          placeholder="Game name"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="itemCost">Team A*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="teama"
                          [(ngModel)]="item.team_a"
                          name="teama{{ i }}"
                          id="teama{{ i }}"
                          placeholder="Team A"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="teamb{{ i }}">Team B*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="teamb{{ i }}"
                          name="teamb{{ i }}"
                          [(ngModel)]="item.team_b"
                          placeholder="Team B"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="points{{ i }}">Points*</label>
                        <input
                          type="number"
                          class="form-control"
                          id="points{{ i }}"
                          name="points{{ i }}"
                          [(ngModel)]="item.points"
                          placeholder="Points"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="startDate{{ i }}">Start Date*</label>
                        <input
                          type="date"
                          class="form-control"
                          id="startDate{{ i }}"
                          name="startDate{{ i }}"
                          [(ngModel)]="item.game_start_date"
                          placeholder="Start Date"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="startTime{{ i }}">Start Time*</label>
                        <input
                          type="time"
                          class="form-control"
                          id="startTime{{ i }}"
                          name="startTime{{ i }}"
                          [(ngModel)]="item.game_start_time"
                          placeholder="Start Time"
                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="endDate{{ i }}">End Date*</label>
                        <input
                          type="date"
                          class="form-control"
                          id="endDate{{ i }}"
                          name="endDate{{ i }}"
                          [(ngModel)]="item.game_end_date"
                          placeholder="End Date"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="endTime{{ i }}">End Time*</label>
                        <input
                          type="time"
                          class="form-control"
                          id="endTime{{ i }}"
                          name="endTime{{ i }}"
                          [(ngModel)]="item.game_end_time"
                          placeholder="End Time"
                        />
                      </div>
                    </div>
                    <div class="col-md-5 col-12">
                      <div class="form-group">
                        <label for="teamAImage{{ i }}">Team A Image</label>

                        <input
                          class="form-control"
                          type="file"
                          id="change-picture"
                          accept="image/png, image/jpeg, image/jpg"
                          (change)="uploadTeamAImage(i, $event)"
                        />
                      </div>
                    </div>

                    <div class="col-md-5 col-12">
                      <div class="form-group">
                        <label for="teamBImage{{ i }}">Team B Image</label>
                        <input
                          type="file"
                          class="form-control-file"
                          id="teamBImage{{ i }}"
                          name="teamBImage{{ i }}"
                          accept="image/png, image/jpeg, image/jpg"
                          (change)="uploadTeamBImage(i, $event)"
                        />
                      </div>
                    </div>

                    <div class="col-md-2 col-12 mb-50" *ngIf="games.length > 1">
                      <div class="form-group">
                        <button
                          class="btn btn-outline-danger text-nowrap px-1"
                          (click)="deleteItem(i)"
                          rippleEffect
                        >
                          <i data-feather="x" class="mr-25"></i>
                          <span>Delete</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <small *ngIf="errorMsg" class="form-text text-danger"
                    >All fields are required!</small
                  >

                  <hr />
                </div>
              </form>

              <div class="row">
                <div class="col-12">
                  <button
                    class="btn btn-icon btn-primary"
                    type="button"
                    (click)="addItem()"
                    rippleEffect
                  >
                    <i data-feather="plus" class="mr-25"></i>
                    <span>Add New</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="event_id == 2">
            <div class="card-body">
              <div>
                <label class="form-label" for="user-plan"
                  >Duration <span style="font-size: 10px">(in minutes)</span
                  ><span
                    *ngIf="newUserForm.submitted && DurationRef.invalid"
                    class="text-danger"
                    >*</span
                  ><span *ngIf="!newUserForm.submitted || !DurationRef.invalid"
                    >*</span
                  ></label
                >
                <input
                  type="text"
                  id="basic-icon-default-duration"
                  class="form-control dt-duration"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-icon-default-duration"
                  name="duration"
                  [(ngModel)]="duration"
                  [class.error]="newUserForm.submitted && DurationRef.invalid"
                  #DurationRef="ngModel"
                  required
                />
                <span
                  *ngIf="newUserForm.submitted && DurationRef.invalid"
                  class="invalid-form"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="DurationRef.errors.required"
                    >This field is required!</small
                  >
                </span>
                <span *ngIf="durationMsg" class="invalid-form">
                  <small class="form-text text-danger"
                    >Duration should more than 0</small
                  >
                </span>
              </div>
              <div class="form-check mt-1">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="calculatePointsCheckbox"
                  [(ngModel)]="calculatePoints"
                  name="calculatePoints"
                />
                <label class="form-check-label" for="calculatePointsCheckbox">
                  Calculate points instantly
                </label>
              </div>

              <form action="#" class="invoice-repeater mt-1">
                <div
                  *ngFor="let question of questions; let i = index"
                  @heightIn
                >
                  <div class="row d-flex align-items-end">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="name{{ i }}">Question {{ i + 1 }}*</label>
                        <textarea
                          type="text"
                          class="form-control"
                          [(ngModel)]="question.question"
                          name="question{{ i }}"
                          id="question{{ i }}"
                          placeholder="Question"
                        ></textarea>
                        <div>
                          <button
                            type="button"
                            class="simple-button"
                            (click)="toggleUpload(question)"
                          >
                            <b>Upload Image +</b>
                          </button>
                          <div
                            *ngIf="question.showUpload"
                            class="upload-container"
                          >
                            <label
                              class="upload-box"
                              (dragover)="onDragOver($event, question)"
                              (dragleave)="onDragLeave($event, question)"
                              (drop)="onDrop($event, question)"
                            >
                              <input
                                type="file"
                                (change)="onFileSelected($event, question)"
                                hidden
                                #fileInput
                              />

                              <div class="upload-content">
                                <p>Drag and drop your image here</p>
                                <p>or</p>
                                <button
                                  type="button"
                                  (click)="fileInput.click()"
                                >
                                  Browse image
                                </button>
                              </div> </label
                            ><br />
                          </div>
                          <p *ngIf="question.showUpload">
                            {{ question.fileName }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="itemCost">Response A*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="responsea"
                          [(ngModel)]="question.response_a"
                          name="responsea{{ i }}"
                          id="responsea{{ i }}"
                          placeholder="Response A"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="itemCost">Response B*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="responseb"
                          [(ngModel)]="question.response_b"
                          name="responseb{{ i }}"
                          id="responseb{{ i }}"
                          placeholder="Response B"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="itemCost">Response C*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="responsec"
                          [(ngModel)]="question.response_c"
                          name="responsec{{ i }}"
                          id="responsec{{ i }}"
                          placeholder="Response C"
                        />
                      </div>
                    </div>

                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="itemCost">Response D*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="responsed"
                          [(ngModel)]="question.response_d"
                          name="responsed{{ i }}"
                          id="responsed{{ i }}"
                          placeholder="Response D"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="points{{ i }}">Points*</label>
                        <input
                          type="number"
                          class="form-control"
                          id="points{{ i }}"
                          name="points{{ i }}"
                          [(ngModel)]="question.points"
                          placeholder="Points"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="answer{{ i }}">Answer*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="answer{{ i }}"
                          name="aswer{{ i }}"
                          [(ngModel)]="question.answer"
                          placeholder="Answer"
                        />
                      </div>
                    </div>

                    <div
                      class="col-md-2 col-12 mb-50"
                      *ngIf="questions.length > 1"
                    >
                      <div class="form-group">
                        <button
                          class="btn btn-outline-danger text-nowrap px-1"
                          (click)="deleteQuestion(i)"
                          rippleEffect
                        >
                          <i data-feather="x" class="mr-25"></i>
                          <span>Delete</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <small *ngIf="errorMsg" class="form-text text-danger"
                    >All fields are required!</small
                  >

                  <hr />
                </div>
              </form>

              <div class="row">
                <div class="col-12">
                  <button
                    class="btn btn-icon btn-primary"
                    type="button"
                    (click)="addQuestion()"
                    rippleEffect
                  >
                    <i data-feather="plus" class="mr-25"></i>
                    <span>Add New</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="event_id == 3">
            <div class="card-body">
              <div>
                <div class="form-group">
                  <label class="form-label" for="user-plan"
                    >Game URL<span
                      *ngIf="newUserForm.submitted && urlRef.invalid"
                      class="text-danger"
                      >*</span
                    >
                    <span *ngIf="!newUserForm.submitted || !urlRef.invalid"
                      >*</span
                    ></label
                  >
                  <input
                    type="text"
                    id="basic-icon-default-url"
                    class="form-control dt-url"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-icon-default-url"
                    name="url"
                    [(ngModel)]="game_url"
                    [class.error]="newUserForm.submitted && urlRef.invalid"
                    #urlRef="ngModel"
                    required
                  />
                  <span
                    *ngIf="newUserForm.submitted && urlRef.invalid"
                    class="invalid-form"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="urlRef.errors.required"
                      >This field is required!</small
                    >
                  </span>
                </div>

                <div class="form-group">
                  <label class="form-label" for="user-plan"
                    >Game Welcome Text<span
                      *ngIf="newUserForm.submitted && wgtRef.invalid"
                      class="text-danger"
                      >*</span
                    >
                    <span *ngIf="!newUserForm.submitted || !wgtRef.invalid"
                      >*</span
                    ></label
                  >
                  <input
                    type="text"
                    id="basic-icon-default-wgt"
                    class="form-control dt-wgt"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-icon-default-wgt"
                    name="wgt"
                    [(ngModel)]="game_welcome_text"
                    [class.error]="newUserForm.submitted && wgtRef.invalid"
                    #wgtRef="ngModel"
                    required
                  />
                  <span
                    *ngIf="newUserForm.submitted && wgtRef.invalid"
                    class="invalid-form"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="wgtRef.errors.required"
                      >This field is required!</small
                    >
                  </span>
                </div>
                <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Select the welcome image</label
                  >
                  <input
                    type="file"
                    class="form-control dt-author"
                    id="basic-icon-default-author"
                    placeholder=""
                    name="author"
                    [(ngModel)]="imageval"
                    (change)="uploadImage($event, 'welcome_game')"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Select the game start image</label
                  >
                  <input
                    type="file"
                    class="form-control dt-author"
                    id="basic-icon-default-author"
                    placeholder=""
                    name="author"
                    [(ngModel)]="imageval"
                    (change)="uploadImage($event, 'game_start')"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Select the game end image</label
                  >
                  <input
                    type="file"
                    class="form-control dt-author"
                    id="basic-icon-default-author"
                    placeholder=""
                    name="author"
                    [(ngModel)]="imageval"
                    (change)="uploadImage($event, 'game_end')"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Pick a Welcome Page Color</label
                  >
                  <input
                    type="color"
                    class="form-control dt-author"
                    id="themeColor"
                    placeholder=""
                    name="author"
                    [(ngModel)]="selected_page_color"
                  />
                </div>

                 <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Pick a Welcome Page Button Color</label
                  >
                  <input
                    type="color"
                    class="form-control dt-author"
                    id="themeColor"
                    placeholder=""
                    name="author"
                    [(ngModel)]="selected_welcomepage_button_color"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Pick a Primary Color</label
                  >
                  <input
                    type="color"
                    class="form-control dt-author"
                    id="themeColor"
                    placeholder=""
                    name="author"
                    [(ngModel)]="selected_primary_color"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label" for="basic-icon-default-author"
                    >Pick a Secondary Color</label
                  >
                  <input
                    type="color"
                    class="form-control dt-author"
                    id="themeColor"
                    placeholder=""
                    name="author"
                    [(ngModel)]="selected_secondary_color"
                  />
                </div>

                <form action="#" class="invoice-repeater mt-1">
                  <div *ngFor="let prize of prizes; let i = index" @heightIn>
                    <div class="row d-flex align-items-end">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="name{{ i }}">Prize {{ i + 1 }}*</label>

                          <div class="col-12">
                            <div class="form-group">
                              <label for="itemCost">Prize Heading*</label>
                              <input
                                type="text"
                                class="form-control"
                                id="prizeh"
                                [(ngModel)]="prize.prize_header"
                                name="prizeh{{ i }}"
                                id="prizeh{{ i }}"
                                placeholder="Prize Heading"
                              />
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group">
                              <label for="itemCost">Prize Heading*</label>
                              <textarea
                                type="text"
                                class="form-control"
                                [(ngModel)]="prize.prize_desc"
                                name="prize{{ i }}"
                                id="prize{{ i }}"
                                placeholder="Prize Description"
                              ></textarea>
                            </div>
                          </div>
                          <div>
                            <button
                              type="button"
                              class="simple-button"
                              (click)="toggleUpload(prize)"
                            >
                              <b>Upload Image +</b>
                            </button>
                            <div
                              *ngIf="prize.showUpload"
                              class="upload-container"
                            >
                              <label
                                class="upload-box"
                                (dragover)="onDragOver($event, prize)"
                                (dragleave)="onDragLeave($event, prize)"
                                (drop)="onDrop($event, prize)"
                              >
                                <input
                                  type="file"
                                  (change)="onFileSelected($event, prize)"
                                  hidden
                                  #fileInput
                                />

                                <div class="upload-content">
                                  <p>Drag and drop your image here</p>
                                  <p>or</p>
                                  <button
                                    type="button"
                                    (click)="fileInput.click()"
                                  >
                                    Browse image
                                  </button>
                                </div> </label
                              ><br />
                            </div>
                            <p *ngIf="prize.showUpload">
                              {{ prize.fileName }}
                            </p>
                          </div>
                        </div>
                      </div>

                      <div
                        class="col-md-2 col-12 mb-50"
                        *ngIf="prizes.length > 1"
                      >
                        <div class="form-group">
                          <button
                            class="btn btn-outline-danger text-nowrap px-1"
                            (click)="deletePrize(i)"
                            rippleEffect
                          >
                            <i data-feather="x" class="mr-25"></i>
                            <span>Delete</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <small *ngIf="errorMsg" class="form-text text-danger"
                      >All fields are required!</small
                    >

                    <hr />
                  </div>
                </form>
                <div class="row">
                  <div class="col-12">
                    <button
                      class="btn btn-icon btn-primary"
                      type="button"
                      (click)="addPrize()"
                      rippleEffect
                    >
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Add New</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="user-plan"
              >Title<span
                *ngIf="newUserForm.submitted && CTitleRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !CTitleRef.invalid"
                >*</span
              ></label
            >
            <input
              type="text"
              id="basic-icon-default-ctitle"
              class="form-control dt-ctitle"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-ctitle"
              name="ctitle"
              [(ngModel)]="title"
              [class.error]="newUserForm.submitted && CTitleRef.invalid"
              #CTitleRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && CTitleRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="CTitleRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan"
              >Game Type<span
                *ngIf="newUserForm.submitted && GTypeRef.invalid"
                class="text-danger"
                >*</span
              ><span *ngIf="!newUserForm.submitted || !GTypeRef.invalid"
                >*</span
              ></label
            >
            <input
              type="text"
              id="basic-icon-default-gtype"
              class="form-control dt-gtype"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-gtype"
              name="gtype"
              [(ngModel)]="game_type"
              [class.error]="newUserForm.submitted && GTypeRef.invalid"
              #GTypeRef="ngModel"
              required
            />
            <span
              *ngIf="newUserForm.submitted && GTypeRef.invalid"
              class="invalid-form"
            >
              <small
                class="form-text text-danger"
                *ngIf="GTypeRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="user-plan">Description</label>
            <input
              type="text"
              id="basic-icon-default-desc"
              class="form-control dt-desc"
              placeholder=""
              aria-label=""
              aria-describedby="basic-icon-default-desc"
              name="desc"
              [(ngModel)]="description"
              #GTypeRef="ngModel"
              required
            />
          </div>
        </div>

        <div class="d-flex justify-content-between mt-2 mb-1 ml-2 mr-2">
          <button
            [disabled]="loading"
            type="submit"
            class="btn btn-primary"
            (click)="submit(newUserForm)"
            rippleEffect
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Submit
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-user-sidebar')"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
