@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
input{
    width: 100% !important;
}
.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-box {
    width: 400px;
    height: 140px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .upload-box:hover {
    border-color: #6200ea;
  }
  
  .upload-box.dragging {
    border-color: #6200ea;
    background-color: #f3e5f5;
  }
  
  .upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-icon {
    font-size: 40px;
  }

.simple-button {
    border: none;
    background: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding: 5px;
    padding-left: 0px !important;
  }
  
  .simple-button:hover {
    text-decoration: underline;
  }
  .form-label {
    align-items: center;
     gap: 0px !important; 
}
.form-check{
  padding-left: 0px !important;
}
.form-check-input{
  // margin-left: -4rem;
}