<div class="auth-wrapper auth-v2"  style=" font-family: 'Roboto Condensed', sans-serif;">
  <div class="auth-inner row m-0 p-0" >

    <div class="d-none d-lg-flex col-lg-8 align-items-center img-class" >
      <div class="image-container">
        <img class="img-fluid dynamic-image"
          [src]="loginImage"
          alt="Login" />
    
        <img class="center-logo"
          [src]=" logoIcon"
          alt="Logo Icon" />
      </div>
    

    </div>
    




    <div 
  class="d-flex col-lg-4 align-items-center auth-bg pl-lg-5 pr-lg-5"
  
  style="max-height: 100%; overflow-y: scroll;font-family: 'Roboto Condensed', sans-serif;"
>
      <div class="col-12 col-sm-8 col-md-6 col-lg-12">
        <div class="" *ngIf="screen=='reset'">
          <div>
            <!-- <div class="col-3" style="float: right;
            justify-content: flex-end;
            display: flex;">
              <div class="avatar">
                <img src="../../../../../assets/images/profile/login_image.png" alt="avatar" width="60" />
              </div>
            </div> -->
            <div
              style="float: left; color: #7459dc; "
            >
              <b style="font-size: 24px; font-weight: bold"><i>RESET PASSWORD</i></b
              ><br />
              
              <!-- <div class=" d-flex  justify-content-center" style="margin-bottom: 2px !important;flex-direction:column">
                <b>Ready to Have Some Fun?</b>
                First step - sign up or register, and we’ll meet you on the other
                side! Let the fun begin!</div> -->
            </div>
            <br/><br/><br/>
            <div>
              Enter the email associated with your account and we'll send you an email with instructions to reset your password.
            </div>
          </div>

          <form class="auth-login-form mt-1" [formGroup]="forgotPasswordForm">
        
          
            <div class="input-group " [ngStyle]="{
              'border-bottom': login_cred === false ? '1px solid red' : '1px solid #98c6f1'
            }">
              <i data-feather="mail" class="mr-1 mt-0 icon-cls"></i>
              <input type="text" formControlName="email" placeholder="Email" [ngClass]="{
                  'is-invalid': submitted && forgotPasswordForm.get('email').errors
                }" />

            </div>

            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.email?.errors }">
              <div *ngIf="f.email?.errors.required">Email is required</div>
              <div *ngIf="f.email?.errors.email">
                Email must be a valid email address
              </div>
            </div>

          
          
           
            <br />

           
            <button class="btn btn-primary btn-login" rippleEffect (click)="onSubmit()">
              <span *ngIf="main_loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span > SEND CODE </span>
           
            </button>

           

          </form>
    
   
        
        </div>
        <div class=""  *ngIf="screen=='otp'">
          <h2 class="text-uppercase text-primary fw-bold mb-2"><i>Verification Code</i></h2>
          <p class="text-muted">Enter the 4 digit code sent to your email.</p>
        
          <div class="d-flex justify-content-center mt-2" style="margin-bottom: 72px !important;">
            <input type="text" maxlength="1" class="otp-box mr-2" [(ngModel)]="otp[0]" (keyup)="autoFocus($event, 0)">
            <input type="text" maxlength="1" class="otp-box mr-2" [(ngModel)]="otp[1]" (keyup)="autoFocus($event, 1)">
            <input type="text" maxlength="1" class="otp-box mr-2" [(ngModel)]="otp[2]" (keyup)="autoFocus($event, 2)">
            <input type="text" maxlength="1" class="otp-box " [(ngModel)]="otp[3]" (keyup)="autoFocus($event, 3)">
          </div>
        
          <div class="mb-1 d-flex text-center align-items-center justify-content-center" style="color: #7459dc;font-size: 10px !important;">
            <i class="feather icon-clock" style="font-size: 14px !important;"></i> {{ timerDisplay }}
          </div>
          
        
          <button class="btn gradient-btn w-100" (click)="verifyCode()">CONTINUE</button>
        
          <p class="mt-1" style="font-size: 14px;">
            Didn't receive it? Check your spam or
            <a href="#" 
               (click)="resendCode()" 
               class="text-primary fw-semibold" 
               [class.disabled]="!resendEnabled" 
               [style.pointer-events]="resendEnabled ? 'auto' : 'none'"
               [style.color]="resendEnabled ? '#5a8dee' : '#bdbdbd'">
              Resend email
            </a>
          </p>
          
        
          <p class="mt-5 text-muted small" style="text-align: center;">
            For any queries or assistance, please email <br>
            <a href="mailto:support@thephoenixguild.com" class="text-primary">support@thephoenixguild.com</a>
          </p>
        </div>

        <div class="reset-password-wrapper" *ngIf="screen=='reset_password'">
          <h2 class="text-uppercase text-purple fw-bold mb-2">Set Your New Password</h2>
          <p class="text-muted mb-4">Your new password must be different from your previously used passwords.</p>
        
          <form  #resetForm="ngForm">
        
            <!-- New Password -->
            <div class="input-wrapper">
              <i class="feather icon-lock icon-left"></i>
              <input
                [type]="showNewPassword ? 'text' : 'password'"
                class="form-control"
                placeholder="New password"
                [(ngModel)]="newPassword"
                name="newPassword"
                required
              />
              <i class="feather icon-eye icon-right" *ngIf="!showNewPassword" (click)="showNewPassword = true"></i>
              <i class="feather icon-eye-off icon-right" *ngIf="showNewPassword" (click)="showNewPassword = false"></i>
            </div>
        
            <!-- Confirm Password -->
            <div class="input-wrapper">
              <i class="feather icon-lock icon-left"></i>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control"
                placeholder="Confirm password"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                required
              />
              <i class="feather icon-eye icon-right" *ngIf="!showConfirmPassword" (click)="showConfirmPassword = true"></i>
              <i class="feather icon-eye-off icon-right" *ngIf="showConfirmPassword" (click)="showConfirmPassword = false"></i>
            </div>
        
            <button type="submit" class="btn gradient-btn w-100 mt-4" rippleEffect (click)="onSubmitSet()">
              <span *ngIf="main_loading" class="spinner-border spinner-border-sm mr-1"></span>
              RESET PASSWORD</button>
          </form>
        </div>
        
      </div>
      <!-- /Login-->
    </div>
  </div>



</div>