<div class="loading" *ngIf="loading">
  <div class="effect-1 effects"></div>
  <div class="effect-2 effects"></div>
  <div class="effect-3 effects"></div>
</div>
<div
  class="row"
  style="
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
  "
>
  <div class="d-none d-lg-flex col-lg-4"></div>
  <div
    class="col-lg-4"
    style="margin-right: 0px !important; padding: 0px !important"
  >
    <div
      class="welcome-container"
      *ngIf="!loading"
      [ngStyle]="{
        'background-image': welcome_image
          ? 'url(' + apiUrl + welcome_image + ')'
          : 'url(../../../assets/images/pages/welcome/background1.jpg)'
      }"
    >
      <div class="welcome-section" *ngIf="section == 1">
        <div class="welcome-text">
          <span class="welcome" style="font-weight:bold;">WELCOME!</span>
          <p
            style="
              font-size: 18px;
              font-family: 'Roboto Condensed';
              line-height: 30px;font-weight: 500;margin-top: 16px;
            "
          >
          <span *ngIf="welcome_text == null || welcome_text == ''">
            We're thrilled to have you on board! Enjoy exclusive rewards, earn
            points, and unlock amazing offers today, while having fun with games
            and quizzes.
          </span>{{welcome_text}}hello
          <span *ngIf="welcome_text!=''">
            {{welcome_text}}
          </span>
          </p>
        </div>
      </div>
      <div class="profile-picture-section" *ngIf="section == 2">
        <div class="profile-picture">
          <input
            type="file"
            id="upload"
            hidden
            (change)="uploadImage($event)"
          />
          <img
            *ngIf="avatarImage"
            [src]="avatarImage"
            alt="Profile Picture"
            class="profile-img"
            (click)="triggerFileInput()"
          />
          <img
            *ngIf="avatarImage == null"
            src="../../../assets/images/pages/welcome/profile.png"
            alt="Profile Picture"
            class="profile-img"
            (click)="triggerFileInput()"
          />
        </div>

        <div
          class="name"
          style="
            text-align: center;
            font-size: 18px;
            font-family: 'Roboto Condensed', sans-serif;
            line-height: 30px;
          "
        >
          {{ user_info.user_name }}
        </div>

        <button
          class="btn custom-btn mt-1"
          rippleEffect
          (click)="triggerFileInput()"
        >
          <i data-feather="plus" class="mr-0 mr-sm-1"></i>
          <span class=""><b>UPLOAD YOUR PICTURE</b></span>
        </button>
      </div>
      <span class="next-button" (click)="goToNext()">
        <img
          src="../../../assets/images/pages/welcome/next.png"
          alt="Next Button"
          width="100"
        />
      </span>
    </div>
  </div>
  <div class="d-none d-lg-flex col-lg-4"></div>
</div>
