<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <!-- <a class="brand-logo" href="javascript:void(0);">
      <img src="../../../../../assets/images/login/Group 411.png"alt="brand-logo" height="70" />
      </a> -->
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center img-class">
      <div
        class="d-lg-flex align-items-center justify-content-center image-container"
      >
        <img
          class="img-fluid dynamic-image"
          src="../../../../../assets/images/login/SPLASH PAGE.png"
          alt="Login V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->

    <div class="loading" *ngIf="main_loading">
      <div class="effect-1 effects"></div>
      <div class="effect-2 effects"></div>
      <div class="effect-3 effects"></div>
    </div>

    <div
      class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"
      *ngIf="!main_loading"
    >
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <div class="login-container">
          <div class="row d-flex justify-content-center">
            <div class="col-3">
              <div class="avatar">
                <img
                  src="../../../../../assets/images/profile/person.png"
                  alt="avatar"
                  width="60"
                />
              </div>
            </div>
            <div class="col-9 font-cls">
              Hey! Welcome to mahyim, bringing togehter the voice of millions to
              witness and glorify The One.
            </div>
          </div>

          <form
            class="auth-login-form mt-2"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
          >
          <div class="input-group" *ngIf="type==2">
            <i data-feather="user" class="mr-1 mt-0 icon-cls"></i>
            <input
              type="text"
              formControlName="user_name"
              class=""
              [ngClass]="{
                'is-invalid error': submitted && f.user_name.errors
              }"
              placeholder="User name"
              aria-describedby="login-user-name"
            />

            <div
              *ngIf="submitted && f.user_name.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.user_name.errors }"
            >
              <div *ngIf="f.user_name.errors.required">
                User name is required
              </div>

             
            </div>
          </div>
            <div class="input-group align-items-center">
              <i data-feather="mail" class="mr-1 mt-0 icon-cls"></i>
              <input
                type="text"
                formControlName="email"
                placeholder="Email"
                [ngClass]="{
                  'is-invalid': submitted && loginForm.get('email').errors
                }"
              />

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="input-group">
              <i data-feather="lock" class="mr-1 mt-0 icon-cls"></i>
              <input
                type="password"
                formControlName="password"
                class=""
                [ngClass]="{
                  'is-invalid error': submitted && f.password.errors
                }"
                placeholder="Password"
                aria-describedby="login-password"
              />

              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.password.errors }"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
            </div>
<!-- {{f.new_password.value}} -->
            <div class="input-group" *ngIf="type==1 || type==2">
              <i data-feather="lock" class="mr-1 mt-0 icon-cls"></i>
              <input
                type="password"
                formControlName="confirm_password"
                class=""
                [ngClass]="{
                  'is-invalid error': submitted && f.confirm_password.errors
                }"
                placeholder="Confirm Password"
                aria-describedby="login-password"
              />

              <div
                *ngIf="submitted && f.confirm_password.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.confirm_password.errors }"
              >
                <div *ngIf="f.confirm_password.errors.required">
                  Password is required
                </div>

                <div *ngIf="f.confirm_password.errors.required && f.confirm_password.value!= f.password.value">
                Pawword and Confirm password should be same
                </div>
              </div>
            </div>
           
            <br />
           
            <button 
              [disabled]="loading"
              class="btn btn-primary btn-login"
              rippleEffect
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span
              >
              <span *ngIf="type==undefined || type==0">
                LOGIN
              </span>
              <span *ngIf="type==1">
                SET PASSWORD
              </span>
              <span *ngIf="type==2">
                PROCEED
              </span>
            </button>
           

            <p
              class="d-flex justify-content-center justify-content-center align-items-center mt-1"
            >
              <br />
              <a routerLink="/pages/authentication/forgot-password-v2"
                ><small>Forgot Password?</small></a
              >
            </p>
          </form>

          <div class="auth-footer-btn d-flex align-items-center" *ngIf="type==0">
            <span class="font-weight-bold mr-1">Sign in with: </span>
            <div class="container" style="max-width: 550px" class="d-flex">
              <asl-google-signin-button
                size="large"
              ></asl-google-signin-button>
            <div
              class="ml-1"
              style="
                transition: background-color 0.218s;
                -webkit-border-radius: 4px;
                border: 1px solid #dadce0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: background-color 0.218s, border-color 0.218s;
                transition: background-color 0.218s, border-color 0.218s;
                background-color: #fff;
                border-radius: 4px;
                cursor: pointer;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
              "
              (click)="loginWithFacebook()" 
            >
              <img
                src="../../../assets/images/icons/facebook.png"
                style="width: 24px; height: 24px"
              />
              <!-- <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Signin with Facebook</button> -->
            </div>
            </div>
            <!-- <img src="../../../../../assets/images/login/facebook.png" alt="brand-logo" height="55" class="mr-1"/>
          <img src="../../../../../assets/images/login/google.png" alt="brand-logo" height="55"/> -->
            <!-- 
          <div class="auth-footer-btn d-flex justify-content-center">
            <img
              src="../../../../../assets/images/login/Layer 28.png"
              alt="brand-logo"
              height="28"
              class="mr-1"
            />
            <img
              src="../../../../../assets/images/login/Layer 29.png"
              alt="brand-logo"
              height="28"
            />
          </div> -->
          </div>

          <!-- <p class="d-flex justify-content-center mt-3">Don't have an account?</p
          >
          <span class="d-flex justify-content-center mt-n0 font-cls"><a (click)="notFound()"><span>&nbsp;<b class="register">REGISTER</b></span></a></span> -->
        </div>
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>
