<!-- app-login.component.html -->
<div class="auth-wrapper auth-v2" style="background-color: white;">
  <div class="auth-inner row m-0 p-0" style="justify-content: center;
        align-items: center;background-color: white;">
    <!-- Brand Logo - optional -->
    <!-- Left Image Section -->
    <div
      class="col-12 col-lg-8 d-flex align-items-center img-class"
      *ngIf="(screenSize !== 'small' || !showLoginForm) && login_screen_image == true"
    >
      <div class="image-container">
        <img
          class="img-fluid dynamic-image"
          [src]="campaign_id && campaign_data?.login_image ? api_url + campaign_data.login_image : loginImage"
          alt="Login"
        />
        <img
          class="center-logo"
          [src]="campaign_id && campaign_data?.logo_image ? api_url + campaign_data.logo_image : logoIcon"
          alt="Logo Icon"
        />
      </div>
      <span class="next-button d-block d-lg-none" (click)="goToNext()">
        <img src="../../../assets/images/pages/welcome/next.png" alt="Next Button" width="100" />
      </span>
    </div>

    <!-- Right Login Form Section -->
    <div
      class="d-flex col-lg-4 align-items-center auth-bg pl-lg-5 pr-lg-5"
      *ngIf="!main_loading && (showLoginForm || screenSize !== 'small')"
    >
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 login-container">
        <div class="content">
          <div style="float: left; color: #7459dc;">
            <b style="font-size: 24px; font-weight: bold;">
              <img
                *ngIf="register_clicked != true"
                src="../../../assets/images/login/signin.png"
              />
              <img
                *ngIf="register_clicked == true"
                src="../../../assets/images/login/signup.png"
              />
            </b>
            <br />
            Let the games begin.
          </div>

          <form class="auth-login-form mt-1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Username -->
            <div class="input-group" [ngStyle]="{ 'border-bottom': login_cred === false ? '1px solid red' : '1px solid #98c6f1' }" *ngIf="type == 2 || register_clicked == true">
              <i data-feather="user" class="mr-1 mt-0 icon-cls"></i>
              <input type="text" formControlName="user_name" placeholder="User name"
                [ngClass]="{ 'is-invalid error': submitted && f.user_name?.errors }" />
            </div>
            <div *ngIf="submitted && f.user_name?.errors" class="invalid-feedback d-block">
              <div *ngIf="f.user_name?.errors.required">User name is required</div>
            </div>

            <!-- Email -->
            <div class="input-group" [ngStyle]="{ 'border-bottom': login_cred === false ? '1px solid red' : '1px solid #98c6f1' }">
              <i data-feather="mail" class="mr-1 mt-0 icon-cls"></i>
              <input type="text" formControlName="email" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && f.email?.errors }" />
            </div>
            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback d-block">
              <div *ngIf="f.email?.errors.required">Email is required</div>
              <div *ngIf="f.email?.errors.email">Email must be valid</div>
            </div>

            <!-- Password -->
            <div class="input-group" [ngStyle]="{ 'border-bottom': login_cred === false ? '1px solid red' : '1px solid #98c6f1' }">
              <i data-feather="lock" class="mr-1 mt-0 icon-cls"></i>
              <input type="password" formControlName="password" placeholder="Password"
                [ngClass]="{ 'is-invalid error': submitted && f.password?.errors }" />
            </div>
            <div *ngIf="submitted && f.password?.errors" class="invalid-feedback d-block">
              <div *ngIf="f.password?.errors.required">Password is required</div>
            </div>

            <!-- Confirm Password -->
            <div class="input-group" *ngIf="type == 1 || type == 2 || register_clicked == true" [ngStyle]="{ 'border-bottom': login_cred === false ? '1px solid red' : '1px solid #98c6f1' }">
              <i data-feather="lock" class="mr-1 mt-0 icon-cls"></i>
              <input type="password" formControlName="confirm_password" placeholder="Confirm Password"
                [ngClass]="{ 'is-invalid error': submitted && f.confirm_password?.errors }" />
            </div>
            <div *ngIf="submitted && f.confirm_password?.errors" class="invalid-feedback d-block">
              <div *ngIf="f.confirm_password?.errors.required">Confirm password is required</div>
              <div *ngIf="passwordNotSame">Password and Confirm password should match</div>
            </div>

            <!-- reCAPTCHA -->
         <!-- <div class="captcha-wrapper">
  <div class="captcha-container">
    <re-captcha
      class="re-captcha"
      id="recaptcha"
      (resolved)="onCaptchaResolved($event)"
      name="recaptcha"
      #recaptcha="ngModel"
      [(ngModel)]="token"
      required
      [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"
    ></re-captcha>
  </div>
</div> -->

            <!-- Forgot password -->
            <div class="mb-1 text-center" *ngIf="type === undefined || type === 0">
              <a routerLink="../forgot-password"><small>Forgot Password?</small></a>
            </div>

            <!-- Login Button -->
            <button class="btn btn-primary btn-login mt-2" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span *ngIf="type === undefined || type === 0">LOGIN</span>
              <span *ngIf="type === 1">SET PASSWORD</span>
              <span *ngIf="type === 2">PROCEED</span>
            </button>
          </form>

          <!-- Switch Auth Mode -->
          <div class="text-center mt-2" *ngIf="type == 1 || type == 2">
            Already have an account?
            <button class="text-primary" style="border: none; background: none;" (click)="loginBtn()">
              <b>SIGN IN</b>
            </button>
          </div>

          <div class="text-center mt-2" *ngIf="type === undefined || type === 0">
            Don't have an account?
            <button class="text-primary" style="border: none; background: none;" (click)="registerBtn()">
              <b>SIGN UP</b>
            </button>
          </div>
          <div class="footer-powered">
    Powered by Cazset LLC
  </div>
        </div>
      </div>
    </div>
  </div>

  
  
</div>
